# --- Image ---
ODOO_IMAGE=yourdockerhubuser/odoo-community:19.0

# --- Domaine / HTTPS ---
ODOO_DOMAIN=odoo.example.com
TRAEFIK_ACME_EMAIL=admin@example.com

# --- Odoo ---
ODOO_ADMIN_PASSWD=change_me
ODOO_LOG_LEVEL=info
ODOO_PROXY_MODE=False
ODOO_LONGPOLLING_PORT=8072

# Workers (à ajuster selon la RAM)
ODOO_WORKERS=2
ODOO_MAX_CRON_THREADS=1

# Resource limits
ODOO_LIMIT_TIME_CPU=60
ODOO_LIMIT_TIME_REAL=120
ODOO_LIMIT_MEMORY_SOFT=2147483648
ODOO_LIMIT_MEMORY_HARD=2684354560

# --- Postgres ---
DB_HOST=db
DB_PORT=5432
DB_USER=odoo
DB_PASSWORD=odoo
DB_NAME=postgres

POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
POSTGRES_DB=postgres

# --- Djomy (payment_djomy / pos_djomy) ---
DJOMY_CLIENT_ID=
DJOMY_CLIENT_SECRET=
DJOMY_BASE_URL=
DJOMY_MODE=test
DJOMY_WEBHOOK_SECRET=

# --- Nimba SMS ---
NIMBA_SERVICE_ID=
NIMBA_SECRET_TOKEN=
NIMBA_SENDER_NAME=
NIMBA_WEBHOOK_SECRET=